<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="OTMS-Payroll">
        <wb-resource deploy-path="/" source-path="/src/java" tag="defaultRootSource"/>
        <property name="java-output-path" value="/OTMS-Payroll/build/classes"/>
    </wb-module>
</project-modules>
