<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:body>  
        <h:form>

    <h:dataTable value="#{drools.all}" var="p">  
    <h:column>  
            <f:facet name="header">Employee Name</f:facet>  
            <h:outputText value="#{p.employee.name}"/>  

    </h:column>  
    <h:column>  
            <f:facet name="header">Calendar</f:facet>  
            <h:outputText value="#{p.employee.calendar.name}"/>  
    </h:column>  
    <h:column>  
            <f:facet name="header">Day Nature</f:facet>  
            <h:outputText value="#{p.dayNature}"/>  
    </h:column>
    <h:column>  
            <f:facet name="header">Planned In</f:facet>  
            <h:outputText value="#{p.employee.calendar.plannedInHour}"/>  
    </h:column>  
        <h:column>  
            <f:facet name="header">Planned Out</f:facet>  
            <h:outputText value="#{p.employee.calendar.plannedOutHour}"/>  
    </h:column>
    <h:column>  
            <f:facet name="header">Time In</f:facet>  
            <h:outputText value="#{p.timeInHour}"/>  
    </h:column>
    <h:column>  
            <f:facet name="header">Time Out</f:facet>  
            <h:outputText value="#{p.timeOutHour}"/>  
    </h:column>
    <h:column>  
            <f:facet name="header">Delay</f:facet>  
            <h:outputText value="#{p.delay}"/>  
    </h:column>
    <h:column>  
            <f:facet name="header">Early Leave</f:facet>  
            <h:outputText value="#{p.earlyLeave}"/>  
    </h:column>
    <h:column>  
            <f:facet name="header">Day OT</f:facet>  
            <h:outputText value="#{p.overTimeBeforeDayStart}"/>  
    </h:column>
    <h:column>  
            <f:facet name="header">Night OT</f:facet>  
            <h:outputText value="#{p.overTimeAfterDayEnd}"/>  
    </h:column>
        </h:dataTable>  
        </h:form>
    </h:body>  
</html>

