<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <script type="text/javascript">
            function handleDrop(event, ui) {
                var droppedComponent = ui.draggable;

                droppedComponent.fadeOut('fast');
            }
        </script>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <h:outputStylesheet name="showcase.css" library="css" />
        <h:outputStylesheet name="sh.css" library="css" />
        <h:outputStylesheet name="perfect-scrollbar.css" library="css" />
        <h:outputStylesheet name="style.css" library="css" />
        <title>Framework POC</title>
    </h:head>
    <h:body>
        <br/>
        <h:form id="componentsForm">
            <p:growl id="msgs" showDetail="true"/>
            <table border="0" style="width: 100%">
                <tbody>
                    <tr>
                        <td style="width: 30%">
                            <p:fieldset id="availableComponentsField" legend="Available Rule Components" >
                                <p:dataGrid id="availableComponents" var="ruleComponent" value="#{ruleComponentsView.ruleComponents}" columns="1">
                                    <p:panel id="pnl" header="#{ruleComponent.name}" style="text-align:center">
                                        <h:panelGrid columns="2" cellpadding="10">
                                            <p:graphicImage name="images/memo.png" />
                                            <h:outputText value="#{ruleComponent.description}" />
                                        </h:panelGrid>
                                    </p:panel>
                                    <p:draggable for="pnl" revert="true" handle=".ui-panel-titlebar" stack=".ui-panel"/>
                                </p:dataGrid>
                            </p:fieldset>
                        </td>
                        <td style="width: 70%">
                            <p:fieldset id="selectedComponents" legend="Your Business Rules" >
                                <p:outputPanel id="dropArea">
                                    <h:outputText value="Drop here" rendered="#{empty ruleComponentsView.droppedRuleComponents}" style="font-size:24px;" />
                                    <p:dataTable id="selectedComponentsTable" var="ruleComponent" rowIndexVar="rowIndex" value="#{ruleComponentsView.droppedRuleComponents}" rendered="#{not empty ruleComponentsView.droppedRuleComponents}" editable="true" editMode="cell" draggableRows="false" rowKey="#{ruleComponent.id}" selection="#{ruleComponentsView.removeRuleComponent}" selectionMode="single">
                                        <p:ajax event="rowReorder" listener="#{ruleComponentsView.onRowReorder}"/>
                                        <p:ajax event="cellEdit" listener="#{ruleComponentsView.onCellEdit}" update=":componentsForm:msgs" />
                                        <p:column headerText="Rule Name">
                                            <h:outputText value="#{ruleComponent.name}" />
                                        </p:column>

                                        <p:column headerText="Rule Description">
                                            <h:outputText value="#{ruleComponent.description}" />
                                        </p:column>

                                        <p:column headerText="Rule Priority">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{ruleComponent.priority}" /></f:facet>
                                                <f:facet name="input"><p:inputText id="modelInput" value="#{ruleComponent.priority}" style="width:96%"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <f:facet name="footer">
                                            <div style="text-align: right;">
                                                <p:commandButton id="btn" action="#{ruleComponentsView.submitRule()}" update=":componentsForm:msgs" icon="ui-icon-circle-check" value="Submit" />
                                            </div>
                                        </f:facet>
                                    </p:dataTable>
                                </p:outputPanel>
                            </p:fieldset>
                            <p:contextMenu for="selectedComponentsTable">
                                <p:menuitem value="Delete" update="selectedComponentsTable" icon="ui-icon-close" actionListener="#{ruleComponentsView.deleteRow()}"/>
                            </p:contextMenu>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p:droppable for="selectedComponents" tolerance="touch" activeStyleClass="ui-state-highlight" datasource="availableComponents" onDrop="handleDrop">
                <p:ajax listener="#{ruleComponentsView.onComponentDrop}" update="dropArea availableComponents"/>
            </p:droppable>
        </h:form>
    </h:body>
</html>