<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <h:outputStylesheet name="showcase.css" library="css" />
        <h:outputStylesheet name="sh.css" library="css" />
        <h:outputStylesheet name="perfect-scrollbar.css" library="css" />
        <h:outputStylesheet name="style.css" library="css" />
        <title>Summary</title>
    </h:head>
    <h:body>
        <h:form id="form">
            <table border="0" style="width: 100%">
                <tbody>
                    <tr>
                        <td style="width: 100%">
                            <p:spacer width="50" height="10" /><b><h:outputText value="Your Business Rules Summary" /></b>
                            <p:tabView orientation="left" var="ruleComponent" value="#{ruleComponentsView.droppedRuleComponents}">
                                <p:tab title="#{ruleComponent.name}">
                                    <h:panelGrid columns="2" cellpadding="10">
                                        <p:graphicImage name="images/memo.png" />
                                        <h:outputText value="#{ruleComponent.description}" />
                                    </h:panelGrid>
                                </p:tab>
                            </p:tabView>
                            <br/><br/>
                            <h:form id="testForm">
                                &#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;<b>Planned In</b>: <h:outputText value="#{drools.plannedIn}"/>
                                ,<b>Planned Out</b>: <h:outputText value="#{drools.plannedOut}"/><br/><br/>
                                <b>Time In:&#xA0;&#xA0;&#xA0;</b><h:inputText value="#{drools.timeIn}"/><br/><br/>
                                <b>Time Out:</b><h:inputText value="#{drools.timeOut}"/>
                                <p:commandButton id="testRulesBtn" value="Test Added Rules" icon="ui-icon-extlink" actionListener="#{drools.fireRules()}" update="panel1" >
                                </p:commandButton><br/><br/>

                                <p:fieldset id="selectedComponents" legend="Business Rules Test" >
                                    <p:outputPanel id="panel1">
                                        <p:dataTable id="t1" value="#{drools.all}" var="p" rendered="#{not empty drools.all}">
                                            <p:column headerText="Employee Name">
                                                <h:outputText value="#{p.employee.name}"/>
                                            </p:column>
                                            <p:column headerText="Calendar">
                                                <h:outputText value="#{p.employee.calendar.name}"/>
                                            </p:column>
                                            <p:column headerText="Day Nature">
                                                <h:outputText value="#{p.dayNature}"/>
                                            </p:column>
                                            <p:column headerText="Planned In">
                                                <h:outputText value="#{p.employee.calendar.plannedInHour}"/>
                                            </p:column>
                                            <p:column headerText="Planned Out">
                                                <h:outputText value="#{p.employee.calendar.plannedOutHour}"/>
                                            </p:column>
                                            <p:column headerText="Time In">
                                                <h:outputText value="#{p.timeInHour}"/>
                                            </p:column>
                                            <p:column headerText="Time Out">
                                                <h:outputText value="#{p.timeOutHour}"/>
                                            </p:column>
                                            <p:column headerText="Delay">
                                                <h:outputText value="#{p.delay}"/>
                                            </p:column>
                                            <p:column headerText="Early Leave">
                                                <h:outputText value="#{p.earlyLeave}"/>
                                            </p:column>
                                            <p:column headerText="Day OT">
                                                <h:outputText value="#{p.overTimeBeforeDayStart}"/>
                                            </p:column>
                                            <p:column headerText="Night OT">
                                                <h:outputText value="#{p.overTimeAfterDayEnd}"/>
                                            </p:column>
                                        </p:dataTable>
                                    </p:outputPanel>
                                </p:fieldset>
                                <p:commandButton id="performanceTest" value="performanceTest" icon="ui-icon-extlink" actionListener="#{drools.performanceTest()}" >
                                </p:commandButton>
                            </h:form>

                        </td>
                        <td style="width: 50%"></td>
                    </tr>
                </tbody>
            </table>
        </h:form>

    </h:body>
</html>